*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;    
    
}

.container-home{
    background-color: grey;
    padding: 300px 0;    
}
.text-home{
    font-size: 50px;
    margin-left: 5px;
    color: #fff;
}
.text-primario{
    color: #d4f21b;
}
.line {
    margin-left: 5px;
    margin-top: 5vh;
    width: 25%;
    border-top: 3px solid #d4f21b;
}
/* About */
.container-about{
    background: rgb(182, 176, 176);
    height: auto;
    background-size: cover;
    padding: 100px 10px 10px 10px;
    
}
.about-content{
    display: flex;
    flex-wrap: wrap;
}
.btn {
    font-family: karla, sans-serif;
    position: relative;
    display: inline-block;
    border: .2em solid #d4f21b;
    border-radius: 0;
    padding: 1em 2.4em;
    font-size: .875em;
    color: #000;
    white-space: nowrap;
    text-align: center;
    letter-spacing: .15em;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #d4f21b;
    font-weight: 700;
    border-width: 1px;
    -webkit-transition: all .3s ease-out!important;
    transition: all .3s ease-out!important;
}
.btn:hover, .btn:focus, .btn:active {
    color: #000;
    background-color: #ecff73;
    border-color: #ecff73;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none!important;
}
/* Albums */
.albums{
    background: grey;
    height: 100vh;
    padding: 100px 0;
    
}
.disco{
    border: 1px solid rgb(70,69,69);
    background-color: #fff;
    color: black;
    width: 150px;
    height: 150px;
    line-height: 120px;
    text-align: center;
    margin: 5px;
}
.image {
    display: block;
    width: 100%;
}
.thumbnail:hover{
    transform: translateY(-4px);
}
/* Contact */
.contact{
    background: #000;
    height: 100vh;
    padding: 300px 0;
}
.mail{    
    color: #fff;
    text-decoration: none;
} 
.contact-us{
    width: 40%;
    color: #d4f21b;
}

.social-media-icon{
    display: inline-block;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border: 1px solid #d4f21b;
    border-radius: 50%;
    text-align: center;
    color: #d4f21b;
}
.social-media-icon:hover{
    background: #d4f21b;
    color: #d4f21b;
}
.social-media-icon i{
    font-size: 45px;
    line-height: 48px;
}
.copy{
    font-size: 15px;
    margin-left: 15px;
    color: #d4f21b;
}
.footer{
    background-color: grey;
    padding-bottom: 0.1px;
    bottom: 0px;    
    overflow: hidden;
}
.footer-content{    
    padding-bottom: 20px;
}
/* ======= */
/* Media queries */
@media screen and (min-width: 768px){    
    .container-home{
        background-image: url(../img/bg-mobile.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        /* padding: 300px 0; */
    }
    .text-home{
        font-size: 96.4px;
    }
    .line {
        margin-top: 15vh;
        width: 25%;
        border-top: 3px solid #d4f21b;
    }
    .social-media-icon{
        display: inline-block;
        margin-left: 20px;
        width: 60px;
        height: 60px;
        border: 1px solid #d4f21b;
        border-radius: 50%;
        text-align: center;
        color: #d4f21b;
    }
    .social-media-icon:hover{
        background: #d4f21b;
        color: #d4f21b;
    }
    .social-media-icon i{
        font-size: 30px;
        line-height: 60px;
    } 
    .container-about{
        background: rgb(182, 176, 176);
        height: 100vh;
        padding: 300px 0;
    }
    
    .about-content{
        display: table;
        width: 100%;
        height: auto;
    } 
    .contact{
        background-image: url(../img/contacto.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container-contact{
        width: 30%;
    }
}
@media screen and (min-width:1023px){
    
    .container-home{
        background-image: url(../img/masterhead-1023px.png);
    }      
    .container-contact{
        width: 20%;
    }
}
@media screen and (min-width:1400px){
    .container-home{
        background-image: url(../img/masthead.jpg);
    }
}