/* About */
.container-about{
    background: rgb(182, 176, 176);
    height: auto;
    background-size: cover;
    padding: 100px 10px 10px 10px;
    
}
.about-content{
    display: flex;
    flex-wrap: wrap;
}
.btn {
    font-family: karla, sans-serif;
    position: relative;
    display: inline-block;
    border: .2em solid $color-primary;
    border-radius: 0;
    padding: 1em 2.4em;
    font-size: .875em;
    color: #000;
    white-space: nowrap;
    text-align: center;
    letter-spacing: .15em;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $color-primary;
    font-weight: 700;
    border-width: 1px;
    -webkit-transition: all .3s ease-out!important;
    transition: all .3s ease-out!important;
}
    .btn:hover{
        color: #000;
        background-color: #ecff73;
        border-color: #ecff73;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none!important;
    }
    .btn:focus{
        @extend :hover;
    }
    .bnt:active{
        @extend :hover;
    }
